<configuration>
    <contextName>netarchiveclient</contextName>

    <appender name="RollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>target/${CONTEXT_NAME}.log</File>

        <encoder>
            <pattern>%d [%t] %-5p %c - %m%n</pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <maxIndex>10</maxIndex>
            <FileNamePattern>target/${CONTEXT_NAME}.log.%i</FileNamePattern>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>32MB</MaxFileSize>
        </triggeringPolicy>
    </appender>


    <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <target>System.err</target>
    </appender>


    <logger name="org.apache" level="ERROR" />
    <logger name="httpclient" level="ERROR" />

    <root level="info">
        <appender-ref ref="RollingFile"/>
        <appender-ref ref="STDERR"/>
    </root>
</configuration>
